<h1>Questions#ask</h1>
<br>
<h2>What's your question ?</h2>
<br>
<form action="/answer">
  <input type="text" name="question" placeholder="Your question here">
  <input type="submit" value="Ask">
</form>
